@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=M+PLUS+Rounded+1c:wght@300&display=swap");

.App {
  text-align: center;
  background: rgb(103, 23, 162);
  background: linear-gradient(
    90deg,
    rgba(103, 23, 162, 1) 20%,
    rgba(0, 7, 79, 1) 80%
  );
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#headerInfo {
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: fade-in 1s ease 1 forwards;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#headerIntro {
  margin: 0;
  padding-top: 1em;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: "Barlow Condensed", sans-serif;
}

#headerName {
  margin: 0;
  padding-top: 0.25em;
  color: #ffffff;
  font-size: 3em;
  font-family: "Barlow Condensed", sans-serif;
}

#headerTitle {
  margin: 0;
  padding-top: 0.5em;
  color: #00bfff;
  font-size: 1.25em;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#headerCircle {
  max-height: 25em;
  max-width: 25em;
  border-radius: 35em;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: appear 2s ease 1 forwards; 
}

@keyframes appear {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

#samboLogo {
  max-height: 15em;
  max-width: 15em;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  min-width: 25em;
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: slide-up 1s ease 1 forwards;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* .navBarIcons {
  max-height: 3em;
  max-width: 3em;
  font-size: 3em;
} */