@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

.App {
  text-align: center;
  background: rgb(103, 23, 162);
  background: linear-gradient(
    90deg,
    rgba(103, 23, 162, 1) 20%,
    rgba(0, 7, 79, 1) 80%
  );
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10em;
  transform: translateY(-100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: fade-in 2s ease 1 forwards;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#headerIntro {
  margin: 0;
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Unica One", cursive;
}

#headerName {
  margin: 0;
  color: #ffffff;
  font-size: 3em;
  font-family: "Unica One", cursive;
}

#headerTitle {
  margin: 0;
  color: #00bfff;
  font-size: 1.25em;
  font-family: "Unica One", cursive;
}

#headerCircle {
  max-height: 20em;
  max-width: 20em;
  border-radius: 50%;
  background: linear-gradient(#e66465, #9198e5);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: appear 2s ease 1 forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#samboLogo {
  max-height: 10em;
  max-width: 10em;
}

#skillCircle {
  height: 15em;
  width: 15em;
  position: absolute;
  z-index: 0;
  top: 24.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(360deg);
  animation: rotate 10s linear infinite;
}

.skillLogos {
  height: 1.75em;
  width: 1.75em;
  margin: 0em;
}

#JSLogo {
  position: absolute;
  top: -5%;
  animation: modal-fade 1s ease-in;
  offset-rotate: 180deg;
  offset-path: circle(50% at 25% 25%);
}

#HTMLLogo {
  position: absolute;
  left: 95%;
  animation: modal-fade 1s ease-in;
  transform: rotate(90deg);
}
#CSSLogo {
  position: absolute;
  right: 95%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-90deg);
}
#reactLogo {
  position: absolute;
  bottom: -5%;
  animation: modal-fade 1s ease-in;
}
#MUILogo {
  position: absolute;
  top: 80%;
  left: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(135deg);
}
#BSLogo {
  position: absolute;
  top: 80%;
  right: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-135deg);
}
#FBLogo {
  position: absolute;
  bottom: 80%;
  left: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(45deg);
}
#MDBLogo {
  position: absolute;
  bottom: 80%;
  right: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-45deg);
}

@keyframes modal-fade {
  0% {
    opacity: 0;
    offset-distance: 100%;
  }
  100% {
    opacity: 1;
    offset-distance: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20em;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: slide-up 2s ease 1 forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
    width: 5em;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    width: 20em;
  }
}

.navButtons {
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navCode {
  height: 1.5em;
  width: 1.5em;
  color: white;
}

#navWork {
  height: 1.5em;
  width: 1.5em;
  color: white;
}


#navAbout {
  height: 1.5em;
  width: 1.5em;
  color: white;
}

#navContact {
  height: 1.5em;
  width: 1.5em;
  color: white;
}

#mainCode {
  min-height: 100vh;
}
