@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Rubik&family=Space+Mono&family=Unica+One&display=swap");

* {
  scroll-behavior: smooth;
}

.App {
  background: #f5f5f5;
}

#htmlTextOne {
  margin: 0;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
}

#bodyTextOne {
  margin: 0;
  margin-left: 0.5em;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
}

#htmlTextTwo {
  margin: 0;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
}

#bodyTextTwo {
  margin: 0;
  margin-left: 0.5em;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
}

#headerTextOne {
  margin: 0;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
}

#headerTextTwo {
  margin: 0;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
}

#projectsTextOne {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
}

#projectsTextTwo {
  margin: 0;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#workTextOne {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
}

#workTextTwo {
  margin: 0;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#aboutTextOne {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
}

#aboutTextTwo {
  margin: 0;
  font-family: "Caveat", cursive;
  margin-left: 3em;
  color: #5a5a5a;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10em;
  transform: translateY(-100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: fade-in 2s ease 1 forwards;
  text-align: center;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#headerIntro {
  margin: 0;
  color: #000000;
  font-size: 1.5em;
  font-family: "Unica One", cursive;
}

#headerName {
  margin: 0;
  color: #000000;
  font-size: 3em;
  font-family: "Unica One", cursive;
}

#headerTitle {
  margin: 0;
  color: #000000;
  font-size: 1.25em;
  font-family: "Unica One", cursive;
}

#headerCircle {
  max-height: 20em;
  max-width: 20em;
  border-radius: 50%;
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: appear 2s ease 1 forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#samboLogo {
  max-height: 10em;
  max-width: 10em;
  border-radius: 50%;
}

#skillCircle {
  height: 15em;
  width: 15em;
  position: absolute;
  z-index: 0;
  top: 25.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(360deg);
  animation: rotate 10s linear infinite;
}

.skillLogos {
  height: 1.75em;
  width: 1.75em;
  margin: 0em;
}

#JSLogo {
  position: absolute;
  top: -5%;
  animation: modal-fade 1s ease-in;
  offset-rotate: 180deg;
  offset-path: circle(50% at 25% 25%);
}

#HTMLLogo {
  position: absolute;
  left: 95%;
  animation: modal-fade 1s ease-in;
  transform: rotate(90deg);
}
#CSSLogo {
  position: absolute;
  right: 95%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-90deg);
}
#reactLogo {
  position: absolute;
  bottom: -5%;
  animation: modal-fade 1s ease-in;
}
#MUILogo {
  position: absolute;
  top: 80%;
  left: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(135deg);
}
#BSLogo {
  position: absolute;
  top: 80%;
  right: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-135deg);
}
#FBLogo {
  position: absolute;
  bottom: 80%;
  left: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(45deg);
}
#MDBLogo {
  position: absolute;
  bottom: 80%;
  right: 80%;
  animation: modal-fade 1s ease-in;
  transform: rotate(-45deg);
}

@keyframes modal-fade {
  0% {
    opacity: 0;
    offset-distance: 100%;
  }
  100% {
    opacity: 1;
    offset-distance: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20em;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%);
  opacity: 0;
  backdrop-filter: blur(20px);
  animation: slide-up 2s ease 1 forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
    width: 5em;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    width: 20em;
  }
}

.navButtons {
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navCode {
  height: 1.5em;
  width: 1.5em;
  color: #000000;
}

#navWork {
  height: 1.5em;
  width: 1.5em;
  color: #000000;
}

#navAbout {
  height: 1.5em;
  width: 1.5em;
  color: #000000;
}

#navContact {
  height: 1.5em;
  width: 1.5em;
  color: #000000;
}

#mainCode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projectCards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 25em;
  /* border: solid black; */
}

.projectTitles {
  margin: 0;
  width: 20em;
  border-radius: 0.5em 0.5em 0em 0em;
  background-color: #ffffff;
  font-family: "Unica One", cursive;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0.25em;
  box-shadow: #00000040 5px 5px 15px 5px;
}

.projectPics {
  height: 15em;
  width: 25em;
  border-radius: 1em;
}

.projectInfos {
  height: 10em;
  width: 20em;
  background-color: #ffffff;
  border-radius: 0em 0em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: #00000040 5px 10px 15px 5px;
}

#pTwoInfo {
  height: 12em;
  width: 20em;
  background-color: #ffffff;
  border-radius: 0em 0em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: #00000040 5px 10px 15px 5px;
}

#pThreeInfo {
  height: 12em;
  width: 20em;
  background-color: #ffffff;
  border-radius: 0em 0em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: #00000040 5px 10px 15px 5px;
}

#pFourInfo {
  height: 12em;
  width: 20em;
  background-color: #ffffff;
  border-radius: 0em 0em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: #00000040 5px 10px 15px 5px;
}

.projectDescs {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0.25em;
  font-size: 0.75em;
}

.projectTStacks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.projectIcons {
  height: 1.5em;
  width: 1.5em;
  margin: 0.25em;
}

.projectTags {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
  text-align: center;
}

.projectTagsClosed {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Caveat", cursive;
  color: #5a5a5a;
  font-size: 1.25em;
}

#mainWork {
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#workCard {
  height: 30em;
  width: 25em;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: #00000040 5px 10px 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#workResume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Caveat", cursive;
  color: rgb(0, 0, 0);
}

#compSVG {
  height: 10em;
  width: 10em;
}

#workDesc {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1em;
  font-size: 0.75em;
}

#workList {
  margin-bottom: 1em;
  font-family: "Rubik", sans-serif;
  font-size: 0.75em;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

#mainAbout {
  height: 30em;
}

#aboutTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#aboutPic {
  border-radius: 20em;
  height: 8em;
  width: 8em;
  box-shadow: #00000060 0px 0px 20px 5px;
  float: left;
  margin: 1em;
}

.aboutStats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.statTitles {
  font-family: "Rubik", sans-serif;
  font-size: 0.75em;
  text-align: center;
  padding: 0;
  color: rgb(0, 0, 0);
}

.statNumbers {
  background-color: #000000;
  border-radius: 20em;
  height: 2em;
  width: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

#aboutName {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  font-family: "Caveat", cursive;
}

#aboutMe {
  font-size: .85em;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 1em;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 2em;
}

#aboutIconsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.aboutIcons {
  height: 2em;
  width: 2em;
  color: #000000;
}

.aboutIcons:visited {
  color: black;
}